@import "../../../vars";
@import "../../../Mixins";

.reserved__table__wrapper {
  background:  center / cover no-repeat #03040E url("../../../assets/pictures/MainPage/bg_reserve.webp");
}
.reserved__table__container {
  padding: 100px 0;
  width: 320px;
  margin: 0 auto;
  @media(min-width: 600px) {
    width: 600px;
  }
  @media(min-width: 960px) {
    padding: 170px 0;
    width: 960px;
  }
  @media(min-width: 1280px) {
    width: 1200px;
  }
}

.reserved__table__title {
  @include fontsize-weight-height-align-mb-color(36px, 500, 54px, center, 24px, null);
  @media(min-width: 960px) {
    @include fontsize-weight-height-align-mb-color(48px, 500, 72px, center, 32px, null);
  }
}
.main__button__wrapper.reserved__table  {
  display: flex;
  justify-content: center;
  & > button {
    width: 282px;
  }
}