@import "../../vars";
@import "../../Mixins";

.routes__step__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 3%;
  align-items: center;
  @media(min-width: 768px) {
    @include width-padding(630px, 30px 0);
  }
  @media(min-width: 1000px) {
    @include width-padding(960px, null);
  }
  @media(min-width: 1280px) {
    @include width-padding(1200px, null);
  }
}
.step__route__img {
  margin: 0 6px;
  @media(min-width: 768px) {
    margin: 0 16px;
  }
}
.routes__step__link {
  text-decoration: none;
  @include fontsize-weight-height-align-mb-color(14px, 400, 21px,null, null, $mainTextColor);

}

.step__routes__text {
  @include fontsize-weight-height-align-mb-color(14px, 400, 21px,null, null, $mainTextColor);
  &.active {
    color: $activeLink;
  }
}
