@import "../../../vars";
@import "../../../Mixins";

/* Position and sizing of burger button */

.bm-burger-button {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 12px;
  top: 28px;
  @media(min-width: 360px) {
    right: 22px;
  }

  @media(min-width: 600px) {
    position: absolute;
    right: 24px;
  }

  &:focus {
    outline: unset;
  }

  @media(min-width: 1280px) {
    display: none;
  }
}

#react-burger-menu-btn:focus {
  outline: unset;
}

#outer-container {
  width: 0;
  //width: 35px;
  @media(min-width: 960px) {
    display: none;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $BurgerBars;
  border-radius: 10px;
  border: 0.8px solid $BurgerBars;
}

/* shape our bars  */
.burger__bars:first-child {
  height: 1px !important;
  width: 24px !important;
  // only words color
}

.burger__bars:nth-child(2) {
  height: 1px !important;
  width: 24px !important;
  top: 35% !important;
  // only words color
}

.burger__bars:last-child {
  height: 0.9px !important;
  width: 24px !important;
  top: 65% !important;
  // only words color
}


/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  //background: $footerMenuHover;
}

//if need crossbar
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 18px;
  width: 24px;
  top: 32px !important;
  right: 32px !important;

  & > button {
    top: 5px !important;

    & > span {
      top: 8px !important;
    }
  }
}

/* Color/shape of close button cross */
.bm-cross {
  background: $BurgerBars;
  width: 2px !important;
  height: 24px !important;
}

/* This positions the cross centrally in the button */
//.bm-cross-button > span {}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  @media(min-width: 768px) {
    width: 477px !important;
  }
}

/* General sidebar styles */
.bm-menu {
  background: $secoundBackground;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0 4px 21px rgba(54, 57, 64, 0.15);
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 15px 15px 0;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


.logo__wrapper.bm-item.sidebar__logo{
  position: unset;
  top: unset;
  left: unset;
  display: flex;
  justify-content: center;
  margin-top: 48px;

  & > img {
    width: 138px;
    margin-bottom: 34px;
  }
}

.header__navbar.bm-item.sidebar__logo {
  display: block;
}

.header__navbar__list.bm-item.sidebar__logo {
  display: grid;
  justify-items: center;
  gap: 16px;
  margin-bottom: 76px;
}

.navBar__item.bm-item.sidebar__logo {
  text-align: center;
}
.header__menu__li.bm-item.sidebar__logo:nth-child(3), .header__menu__li.bm-item.sidebar__logo:nth-child(4),
.header__menu__li.bm-item.sidebar__logo:nth-child(5) {
  margin-right: 6px;
}


/////////////////////////////////  InfoBox
.header__info__box.bm-item {
  display: grid;
  gap: 34px;
}

.top__info.bm-item.sideBar__menu {
  display: grid;
  justify-items: center;
  gap: 8px;
}
.top__info__address.bm-item.sideBar__menu {
  display: grid;
  justify-items: center;
  gap: 8px;
}
.header__address.bm-item.sideBar__menu {
  padding: unset;
  border: unset;
}

.bottom__info.bm-item.sideBar__menu {
  display: grid;
  justify-items: center;

  & > .main__button__wrapper.header__button {
    margin-right: unset;
   & > button {
     width: 250px;
     margin-bottom: 76px;
   }
  }
}

.top__info__location.bm-item.sideBar__menu > p, .header__address.bm-item.sideBar__menu, .top__info__phone__link.bm-item.sideBar__menu {
  @include fontsize-weight-height-align-mb-color(18px, 400, 22px, null, null, $yellowText);
}

.lang__dropdown.bm-item.sideBar__menu,  {
  display: grid;
}
.custom__select__dropdown__menu.bm-item.sideBar__menu {
  display: flex;
  justify-content: center;
}
/////////////////////////////////
.header__menu__li.bm-item.sidebar__logo > .dropDownMenu__wrapper {
  position: unset;
}


.top__info__location.bm-item.sideBar__menu {
  display: grid;
  justify-items: center;
}



///////// navmenu

.header__menu__li.bm-item.sidebar__logo {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  @include fontsize-weight-height-align-mb-color(18px, 500, 21px, null, null, null);

  & > svg {
    margin-left: 3px;
  }

  & > a {
    @include fontsize-weight-height-align-mb-color(18px, 500, 21px, null, null, null);
  }
}