@import "../../vars";
@import "../../Mixins";

.article__body {
  background: #FFFFFF;
}


/// modal

.modal__picture {
  width: 32px;
  height: 32px;
  background-color: transparent;
}

.modal__text {
  @include fontsize-weight-height-align-mb-color(16px, 600, 24px, center, null, $mainTitleColor);
  background-color: transparent;
}

.btn__text.modal__button {
  width: 240px;
}
