@import "../../../vars";
@import "../../../Mixins";

.question__section__wrapper {
  //background-color: $secondBackground;
  padding: 70px 0;
}

.question__section__container {
  @include width-padding(300px, 30px);
  background: #FFFFFF;
  border: 1px solid #EFF0F1;
  box-shadow: 0 2px 16px rgba(54, 57, 64, 0.03);
  border-radius: 20px;

  @media(min-width: 480px) {
    @include width-padding(460px, 60px);
  }
  @media(min-width: 768px) {
    @include width-padding(630px, null);
  }
  @media(min-width: 1000px) {
    @include width-padding(960px, null);
  }
  @media(min-width: 1280px) {
    @include width-padding(1200px, null);
  }
}

.question__section__title {
  background: #FFFFFF;
  @include fontsize-weight-height-align-mb-color(24px, 700, 32.4px, center, 20px, $mainTitleColor);
  padding: 0 20px;
  @media(min-width: 480px) {
    @include fontsize-weight-height-align-mb-color(36px, null, 48.6px, null, 30px, null);
  }
}

.main__button__wrapper.main__page__question {
  width: fit-content;
  margin: 0 auto;
  & > button > a {
    width: 240px;
  }
}