@import "../../../vars";
@import "../../../Mixins";


.feedback__block__wrap {
  background: #FFFFFF;
  border-radius: 10px;
}

.feedback__block__container {
  @include width-padding(300px, 30px);
  background: $answerBlock;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  @media(min-width: 480px) {
    @include width-padding(460px, null);
  }
  @media(min-width: 768px) {
    @include width-padding(630px, null);
  }
  @media(min-width: 1000px) {
    width: 700px;
  }
}

.feedback__block__title {
  background: transparent;
  @include fontsize-weight-height-align-mb-color(16px, 600, 24px, center, 24px, $mainTitleColor);
}

.feedback__block__answers {
  background-color: transparent;
  display: flex;
  gap: 32px;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}

.feedback__answer {
  background-color: transparent;
  & > svg {
    background-color: #00A171;
  }
  &:first-child  > p{
    color: $noColor;
  }

  &:last-child  > p {
    color: $yesColor;
  }
}


.feedback__answer__pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;

  & > svg {
    fill: #FFFFFF;
    font-size: 20px;
  }

  &.positive, &.positive > svg {
    background-color: $yesColor;
  }

  &.negative, &.negative > svg {
    background-color: $noColor;
  }
}

.feedback__answer__text {
  @include fontsize-weight-height-align-mb-color(12px, 500, 18px, center, null, null);
  background-color: transparent;
  text-transform: uppercase;
}