@import "../../../../vars";
@import "../../../../Mixins";

.all__allow__wrapper {
  padding: 100px 0;
  background: top 0% right 20%  / cover no-repeat #03040E url("../../../../assets/pictures/MainPage/Можно Все/bg_2.webp");
  overflow: hidden;
  @media(min-width: 960px) {
    padding: 143px 0;
  }
}

.all__allow__container {
  width: 360px;
  margin: 0 auto;
  @media(min-width: 600px) {
    width: 600px;
    margin: 0 auto;
  }
  @media(min-width: 960px) {
    width: 960px;
  }
  @media(min-width: 1280px) {
    width: 1200px;
  }
}

.all__allow__title__wrap {
  width: 330px;
  margin: 0 auto;
  @media(min-width: 600px) {
    width: unset;
  }
}

.allAllowBlock__list__item {
  position: relative;
  background: linear-gradient(110.72deg, rgba(28, 30, 46, 0.46) 1.21%, rgba(38, 42, 79, 0.59) 100%);
  border-radius: 16px;
  padding: 30px 20px;
  display: grid !important;
  gap: 8px;
  align-items: center;
  justify-items: center;
  width: 220px !important;
  min-height: 180px;
  margin: 0 10px;
  border: 3px solid transparent;
  @media(min-width: 600px) {
    width: 282px !important;
    margin: unset;
  }
  @media(min-width: 960px) {
    width: 288px !important;
  }
  @media(min-width: 1280px) {
    width: 282px !important;
  }

  &:hover {
    box-shadow: 0 4px 33px 0 rgba(67, 136, 238, 0.4);
    cursor: pointer;
    border: 3px solid;
    border-image-source: linear-gradient(107.37deg, rgba(75, 136, 192, 0.33) -3.65%, rgba(12, 46, 84, 0.33) 101.06%);
    background: linear-gradient(110.72deg, rgba(40, 95, 146, 0.45) 1.21%, rgba(92, 135, 248, 0.15) 100%);
  }
}

.allAllowBlock__list__item__pic.hover__pic {
  position: absolute;
  top: 35px;
  right: 0;
  left: 105px;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
}

.allAllowBlock__list__item:hover {
  & > .allAllowBlock__list__item__pic.hover__pic {
    opacity: 1;
  }

  & > .allAllowBlock__list__item__pic {
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.allAllowBlock__list__item:nth-child(5):hover > .hover__pic {
  animation: shake 2s;
}

.allAllowBlock__list__item__pic {
  opacity: 1;
  width: 68px;
  height: auto;
}

.allAllowBlock__list__item__title {
  @include fontsize-weight-height-align-mb-color(18px, 500, 21.78px, center, null, $hover);
}


/////// Slider
.all__allow__slider__wrapper {
  width: 240px;
}

.slick-slider.all__allow.slick-initialized {
  & > .slick-list {
    overflow: unset;

    & > .slick-track > .slick-slide.slick-active {
      width: 240px;
    }
  }
}


.all__allow__info {
  @media(min-width: 600px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 24px;
  }
  @media(min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
    width: 912px;
    margin: 0 auto;
  }
  @media(min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
}