@import "../../vars";
@import "../../Mixins";

.header__wrapper {
  padding: 18px 5px 18px 10px;
  display: grid;
  grid-template-columns: 105px 1fr auto;
  align-items: center;
  @media(min-width: 480px) {
    padding: 16px 10px;
    grid-template-columns: 201px 1fr auto;
  }
  @media(min-width: 768px) {
    width: 630px;
    margin: 0 auto;
    padding: 16px 0;
    grid-template-columns: 201px auto auto 70px;
  }
  @media(min-width: 1000px) {
    width: 960px;
    grid-template-columns: 201px 1fr auto 110px;
  }
  @media(min-width: 1280px) {
    width: 1200px;
    grid-template-columns: 201px 1fr auto 110px;
  }
}

/// Logo component
.logo__picture {
  width: 105px;
  display: block;
  @media(min-width: 480px) {
    width: 201px;
  }
}

/// mainButton component
.main__button__wrapper.header__button {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  @media(min-width: 480px) {
    margin-right: 18px;
    & > button {
      width: 160px;
    }
  }
  @media(min-width: 768px) {
    display: flex;
    justify-content: center;
    margin: unset;
  }
  @media(min-width: 1000px) {
   margin: 0 52px 0 60px;
  }
}
.btn__text.header__button {
  @include fontsize-weight-height-align-mb-color(12px, 500, 14px, center, null, $mainButtonText);
  padding: 8px 11px;
  @media(min-width: 480px) {
    @include fontsize-weight-height-align-mb-color(16px, 500, 19px, center, null, $mainButtonText);
    padding: 11px;
  }
}
////////////////////////////////

.header__link__container {
  display: none;
  @media(min-width: 768px) {
    display: flex;
    margin-left: 48px;
    width: fit-content;
  }
  @media(min-width: 1000px) {
    margin:unset;
    width: auto;
    justify-content: flex-end;
  }
}

.header__link {
  @media(min-width: 768px) {
    margin-right: 5px;
    @include fontsize-weight-height-align-mb-color(14px, 400, 19px, center, null, $mainTitleColor);
  }
  @media(min-width: 1000px) {
    @include fontsize-weight-height-align-mb-color(16px, 400, 19px, center, null, null);
  }
}