@import "../../../vars";
@import "../../../Mixins";

.main__button {
  border: unset;
  background: transparent;
  border-radius: 28px;
  &:hover {
    cursor: pointer;
  }
}

.btn__text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  @include fontsize-weight-height-align-mb-color(16px, 700, 24px, center, null, $mainButtonText);
  padding: 14px;
  background: $mainButtonBackGround;
  border-radius: 28px;
  min-width: 134px;
  @media(min-width: 1280px) {
    min-width: 178px;
  }

  @media(min-width: 480px) {
    @include fontsize-weight-height-align-mb-color(18px, 500, 21.78px, center, null, $mainButtonText);
  }
}
.main__button__img {
  width: 24px;
  margin-right: 10px;
}

.main__button__wrapper.second__style > .main__button > a {
  background: transparent;
  border: 1px solid $siteColor;
  color: $siteColor;
}




