@import "../../../vars";
@import "../../../Mixins";

.main__button {
  border: unset;
  background: transparent;
}

.btn__text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  @include fontsize-weight-height-align-mb-color(16px, 700, 24px, center, null, $mainButtonText);
  padding: 14px;
  background: $mainButtonBackGround;
  border-radius: 28px;
  width: 282px;

  @media(min-width: 480px) {
    @include fontsize-weight-height-align-mb-color(18px, 500, 21.78px, center, null, $mainButtonText);
  }
  &:hover {
    box-shadow: $mainButtonBackGroundOnHover;
    cursor: pointer;
    text-decoration: none !important;
  }
}
.main__button__img {
  width: 24px;
  margin-right: 10px;
}
.main__button__wrapper {
  display: flex;
  justify-content: center;
}





