@import "../../../vars";
@import "../../../Mixins";

.main__button {
  border: unset;

}

.btn__text {
  display: block;
  text-decoration: none;
  @include fontsize-weight-height-align-mb-color(16px, 500, 18.75px, center, null, $mainButtonText);
  letter-spacing: 0.02em;
  padding: 11px;
  background: $mainButtonBackGround;
  border-radius: 5px;

  @media(min-width: 480px) {
    padding: 11px 22px;
    @include fontsize-weight-height-align-mb-color(16px, 500, 19px, center, null, $mainButtonText);
  }
  @media(min-width: 1000px) {
    padding: 11px 24px;
  }
  &:hover {
    background: $mainButtonBackGroundOnHover;
    cursor: pointer;
  }
}





