@import "../../vars";
@import "../../Mixins";

.footer__rights {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 3px;
  margin-bottom: 24px;
  @media(min-width: 768px) {
    display: flex;
    margin-bottom: 48px;
  }
}

.rights__before__year {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  @include fontsize-weight-height-align-mb-color(14px, null, 21px, null, null, $mainTextColor);
}

.rights__after__year {
  @include fontsize-weight-height-align-mb-color(14px, null, 21px, null, null, $mainTextColor);
}

.footer__link {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: $siteTitleColor;
  display: block;
  margin: 0 auto;
}
