@import "../../vars";

//.footer__main__wrapper, .footer__logo, .footer__buttons, .footer__text,
//.footer__text__inner span, .footer__text p, .footer__text__inner {
//  background: $secondBackground;
//}

.footer__main__wrapper {
  padding: 80px 0;
}

.footer__container {
  width: 290px;
  margin: 0 auto;
  //background: $secondBackground;
  @media(min-width: 480px) {
    width: 460px;
  }
}

.logo__picture.footer__logo {
  width: 168px;
  height: 35px;
  margin: 0 auto 32px;
}

.social__buttons__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
  gap: 32px;
  justify-content: center;

}

.social__item{
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;

  &:hover {
    cursor: pointer;
    background: $footerHoverSocialBtn;
    & svg {
      background:  $footerHoverSocialBtn;
    }
  }

  & svg {
    fill: black;
    width: 16px;
    height: 16px;
  }
}

.footer__date {
  display: flex;
  justify-content: center;

  & > p {
    margin: 0 5px;
  }
}

.footer__text * {
  line-height: 24px;
  text-align: center;
  color: $footerTextColor;
}
.footer__details {
  text-transform: uppercase;
}
.footer__text__inner {
  @media(min-width: 480px) {
    display: flex;
    justify-content: center;
  }
}
