@import "./vars.scss";
@import "./Mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $mainTextColor;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 16.94px;
  font-style: normal;
  font-weight: 400;
}


.about__club__text__wrapper {
  padding: 100px 0;
  width: 320px;
  margin: 0 auto;
  @media(min-width: 600px) {
    width: 600px;
  }
  @media(min-width: 960px) {
    padding: 128px 0;
    width: 792px;
  }
}
.about__club__title {
  font-size: 24px !important;
  line-height: 36px !important;
  margin-bottom: 16px;
  @media(min-width: 600px) {
    margin-bottom: 52px;
  }
  @media(min-width: 960px) {
    margin-bottom: 24px
  }
}

.about__club__text,  .about__club__text p{
  @include fontsize-weight-height-align-mb-color(14px, null, 21px, null, null, null);
}

.separator {
  height: 0.9px;
  background: linear-gradient(to right, transparent -10%, grey 44%, rgba(255, 255, 255, 0.61) 50%, transparent 100%, transparent 25%);
  width: 280px;
  margin: 0 auto;
  @media(min-width: 360px) {
    width: 312px;
  }
  @media(min-width: 1024px) {
    height: 1.9px
  }
}


.separator.comming_soon {
  margin-top: 32px;
  margin-bottom: 32px;
  @media(min-width: 600px) {
    margin-bottom: 24px;
  }
}

.simple__reserved__table__block {
  background-color: $mainBackGroundColor;
  padding: 100px 15px;
  @media(min-width: 600px) {
    background-color: $secondBackGroundColor;
    padding: 0 0 100px 0;
  }
}
.simple__reserved__table__block__container {
  width: 312px;
  margin: 0 auto;
  @media(min-width: 600px) {
    background-color: $mainBackGroundColor;
    width: 600px;
    padding: 100px 15px;
    border-radius: 16px;
  }
  @media(min-width: 960px) {
    width: 960px;
    padding: 128px 0;
  }
}
.simple__reserved__table__block__title {
  @include fontsize-weight-height-align-mb-color(24px, 500, 30px, center, 24px, null);
  @media(min-width: 960px) {
    @include fontsize-weight-height-align-mb-color(36px, null, 44                                        px, center, 32px, null);
  }
}

.main__button__wrapper.simple__reserved__table  {
  display: grid;
  justify-content: center;

  & > button {
    width: 282px;
  }
}