//Common colors

$mainTextColor: #FFFFFF;
$siteTitleColor: #FFD354;
$mainBackGroundColor: #0C0E20;
$secondBackGroundColor: #03040E;
$mainButtonBackGround: #E89C17;
$mainButtonText: #FFFFFF;
$mainButtonBackGroundOnHover: rgba(214, 98, 48, 0.38);
$socialButtonsBG: #414994;
$siteColor: #E89C17;
$hover: #FFD354;
$yellowText:  #FFD354;
/// Header
$address: #FFD354;

///Burger Menu

$BurgerBars: #E89C16;
$secoundBackground: #03040E;

$sliderSubtitle: #FFD354;
$sliderDots: #D0AB6A;

/// mainPage review
$reviewItemBg: #14162C;

/// slick dots slider
$slickDotsBack: #C4C4C4;
$slickDots: #FFD354;

$commentsSliderBG: #14162C;
$commentsDate: #878787;


/// gallery

$activeTabs: #F2994A;





