//Common colors

$mainTextColor: #6B778C;
$mainTitleColor: #363940;
$siteColor: #00A171;
//$secondBackground: rgba(229, 229, 229, 0.15);
$secondBackground: #f3f2f266;
//$secondBackground: #f3f2f2;
//$secondBackground: #E5E5E5;
$mainBackground: #F8F9FA;
//$mainBackground: #FFFFFF;
$mainButtonText: #FFFFFF;
$mainButtonBackGround: linear-gradient(90deg, #00A482 0%, #009B33 100%);
$mainButtonBackGroundOnHover: linear-gradient(90deg, #079174 0%, #00872C 100%);
$activeLink: #9CEAD5;


/// hover
$mainTextOnHover: #009B33;
$Hover: #009B33;
$Hover2: #03f6c2;




// footer
$footerTextColor: #95A1BB;
$footerHoverSocialBtn: #d5eae5;


// MainPage

// Section 1
$searchBG: #363940;
$searchInputColor:  #FFFFFF;
$inputSuggestionTitleColor: #B4B5B8;


/// categoryPage

$paginateNumber: #00A171;
$paginateBG: #ECF5F3;

//singleArticle
$answerBlock: rgba(0, 164, 130, 0.1);
$yesColor: #00A171;
$noColor: #EB5757;

/// Modal
$modalBg: rgba(0, 164, 130, 0.1);







