//Common colors

$mainTextColor: #FFFFFF;
$siteTitleColor: #FFD354;
$mainBackGroundColor: #0C0E20;
$mainButtonBackGround: #E89C17;
$mainButtonText: #FFFFFF;
$mainButtonBackGroundOnHover: rgba(214, 98, 48, 0.38);
$socialButtonsBG: #414994;








